{% extends "OCStockManagementBundle::layout.html.twig" %}


{% block title %}{{ parent() }}Page de gestion des niveaux de Stock{% endblock %}

{% block body %}
    {# pas touche, fonctionne !!! #}
    {{ form_start(formCategories) }}
        {% for category in formCategories %}
            {{ form_label(category, "", {"label_attr": {"class": "label_category"}}) }}
            {{ form_widget(category) }}
            {# {{ dump(category.children['wizaplaceId'].vars) }} #}
        {% endfor %}
        <button type="submit">Soumettre</button>
    {{ form_end(formCategories) }}

    <a href="{{ path('oc_stock_management_deleteLowSwtock') }}">Réinitialiser les niveaux de stock bas</a>
    {# fin du pas touche #}

{% endblock %}