{% extends "OCStockManagementBundle::layout.html.twig" %}


{% block title %}{{ parent() }}Page de gestion des niveaux de Stock{% endblock %}

{% block body %}
    {# pas touche, fonctionne !!! #}
    {{ form_start(formCategories) }}
        <ul>
            <h3>Stock Limite</h3>
            {% for category in formCategories %}
                {% if category.vars.id != "collection__token" %}
                    {% if category.vars.data.parentId == null %}
                        {{ form_label(category, "", {"label_attr": {"class": "label_category"}}) }}
                        <li class="category">
                            {{ form_widget(category) }}
                        </li>
                        {% set currentParentCategoryId = category.vars.data.id %}
                        {# Essai class custom #}
                        {# {% set depth = 1 %} #}
                        {# Fin essai class custom #}
                        {% include 'manageSubCategories.html.twig'%}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit">Soumettre</button>
    {{ form_end(formCategories) }}

    <a href="{{ path('oc_stock_management_deleteLowSwtock') }}">Réinitialiser les niveaux de stock bas</a>
    {# fin du pas touche #}

{% endblock %}