{% extends "OCStockManagementBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Page de gestion des niveaux de Stock{% endblock %}

{% block body %}
    <ul>
    {% for category in listCategories %}
        <li>{{ category.name }}</li>
        {# <li>{{dump(category)}}</li> #}
        <ul>
            {% for childCategory in childCategories %}
                {# <li>{{ dump(childCategory[category.id]) }}</li> #}
                {% for childCategory in childCategory[category.id] %}
                    <li>{{childCategory.name}}</li>
                {% endfor %} 
            {% endfor %}   
        </ul>
    {% endfor %}
    </ul>

{% endblock %}