<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}GeStoBa2{% endblock %}</title>
        {% block stylesheets %}
            {# On charge le CSS de bootstrap depuis le site directement #}
            {# <link rel="stylesheet" href="{{ asset("bundles/ocstockmanagement/css/style.css") }}"> #}
            <link rel="stylesheet" href="{{ asset("css/style.css") }}">
            
        {% endblock %}
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    </head>
    <body>

        <header>
            <h1><a href="{{ path('oc_stock_management_home') }}">Gestion de Stock Bas</a></h1>
            <div id="HeaderLinks">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que {{ app.user.username }}
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                    {% else %}
                    <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                {% endif %}
            </div>
        </header>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div id="tabs">
            <div id="general">
                {% if is_granted('ROLE_ADMIN') %}
                    <h2><a href="{{ path('oc_users_management') }}">Général</a></h2>
                {% elseif is_granted('ROLE_VENDOR')%}
                    <h2><a href="{{ path('oc_user_management') }}">Général</a></h2>
                {% endif %}
            </div>
            <div id="categories_params">
                {% if is_granted('ROLE_VENDOR') %}
                    <h2><a href="{{ path('oc_stock_management_manageCategories') }}">Paramétrer les catégories</a></h2>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% for message in app.flashes('notice') %}
        <div id="flash-notice">
            <p>
                {{ message }}
            </p>
            <div id="cross">
                <i class="fas fa-times"></i>
            </div>
        </div>
    {% endfor %}
    
        {% block body %}

        {% endblock %}

        <script src="../../js/userMessages.js"></script>
        <script src="../../js/main.js"></script>

        <script src="../js/userMessages.js"></script>
        <script src="../js/main.js"></script>
    </body>
</html>